@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
 
 
:root {
    --cor--principal: #3c2415;
    --cor--secundaria: #ff934f;
    --cor--cinza: #757575;
    --cor-preta: #000000;
    --cor-branca:#FFFFFF;
 
    --cor-secundaria-transparente: rgba(255, 147, 79, 0.7);
    --cor-da-sombra: rgba(0, 0, 0, 0.25);
    
 
    --font-principal: 'Aclonica', sans-serif;
    --font-secundaria: 'Lato', sans-serif;
 
}
 
.principal{
    width: 100%;
    min-height: 100vh;
    background-color: var(--cor--secundaria);
}
 
header {
    display: flex;
    background-color: var(--cor--principal);
    height: 83px;
    border-bottom: 3px solid var(--cor--secundaria);
}
 
.nav-superior{
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}
 
.menu-superior{
    display: flex;
    align-items: center;
    gap: 32px;
    font-size: 16px;
    font-family: var(--font-principal);
}
 
.menu-superior__link{
    color: var(--cor-branca);
    text-decoration: none;
}
.menu-superior__link:hover{
    color: var(--cor--secundaria);
    font-size: 18px;
}
 
/* código a baixo é para por o banner nas paginas idiota */
 
.banner {
    width: 100%;
    height: 335px;
    background-image: url('../assets/banner.png');
    /*background-repeat: no-repeat; */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* configurar tela laranja e conteudo digitaos*/
.banner__card{
    background-color: var(--cor-secundaria-transparente);
    width: 600px;
    height: 160px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-principal);
    color: var(--cor-branca);
    
}
 
.banner__card h2{
    font-size: 24px;
}
 
.banner__card h1{
    font-size: 48px;
}
 
.conteudo-principal {
    width: 1100px;
    height: 1498px;
    background-color: var(--cor-branca);
    margin: auto;
    border-radius: 16px;
    margin-top: -63px;
    padding: 32px;
    
}



/* deixar imagem do lado , display flex para deixar imagem de um lado texto de outro, gap deixa um vão entre informação e imagem*/
.conteudo-principal__produto{
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin-bottom: 52px; /* separar as imagens*/
}

/* alterar tamanho da imagem, sobrear*/
.conteudo-principal__imagem{
    height: 400px;
    height: 377px;
    border-radius: 16px;
    box-shadow: 4px 4px var(--cor-da-sombra);   /* sombrear*/

}

.conteudo-principal__titulo {
    font-family: var(--font-principal);
    font-size: 48px;
    color: var(--cor--secundaria);
    margin-bottom: 16px;
}

.conteudo-principal__subtitulo { /* alterar fonte do subtitulo ex cappcino caseiro*/
    font-family: var(--font-principal);
    color: var(--cor--principal);
    font-size: 32px;
}

.conteudo-principal__descricao {
    font-family: var(--font-secundaria); 
    font-size: 20px;
    color: var(--cor--cinza);
    margin-top: 20px;
    line-height: 1.5; /* alterar espaçamento do texto */
} 

.conteudo-principal__lista-titulo{
font-family: var(--font-principal);
color: var(--cor--principal);
font-size: 20px;
margin: 20px 0 16px 0;

}


.lista-conteudo{
    list-style-type: disc;
    line-height: 2;
    margin-left: 35px;
    justify-content: space-between;
    font-size: 20px;
    font-family: var(--font-secundaria);
    justify-content: space-between;
}

.conteudo-principal-sub {
    
    font-family: var(--font-principal);
    font-size: 48px;
    color: var(--cor--principal);
    margin-bottom: 16px;

}

.botao {
    width: 196px;
    height: 54px;
    background-color: var(--cor--principal);
    font-family: var(--font-secundaria);
    color: var(--cor-branca);
    text-decoration: none;
    border-radius: 8px;
    font-size: 20px;
    display: flex;
    justify-content: center; /* deixar texto no centro*/
    align-items: center;  /* alinhar*/
    margin-top: 9px;   

}

.botao:hover {
    background-color: var(--cor--secundaria);  /*trocar cor do botão quando passo o mouse em cima idiota*/
}




 
.rodape{
    background-color: var(--cor--principal);
    color: var(--cor-branca);
    padding: 26px 0;
    height: 69px;
    margin-top: 59px;
    font-family: var(--font-secundaria);
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 3px solid var(--cor-branca);
 
}
 
.rodape__link{
    color: var(--cor-branca);
    text-decoration: none;
}


