@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
 
 
:root {
    
    --cor--principal: #3c2415;
    --cor--secundaria: #ff934f;
    --cor--cinza: #757575;
    --cor-preta: #000000;
    --cor-branca:#FFFFFF;
    --cor-cinza-card: #C1C1C1;
 
    --cor-secundaria-transparente: rgba(255, 147, 79, 0.7);
    --cor-da-sombra: rgba(0, 0, 0, 0.25);
    
    --font-principal: 'Aclonica', sans-serif;
    --font-secundaria: 'Lato', sans-serif;
}
 
.principal {
    width: 100%;
    min-height: 100vh;
    background-color: var(--cor--secundaria);
}
 
header {
    display: flex;
    background-color: var(--cor--principal);
    height: 83px;
    border-bottom: 3px solid var(--cor--secundaria);
}
 
.nav-superior {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}
 
.menu-superior {
    display: flex;
    align-items: center;
    gap: 32px;
    font-size: 16px;
    font-family: var(--font-principal);
}
 
.menu-superior__link {
    color: var(--cor-branca);
    text-decoration: none;
}
.menu-superior__link:hover {
    color: var(--cor--secundaria);
    font-size: 18px;
}
 
/* código a baixo é para por o banner nas paginas idiota */
 
.banner {
    width: 100%;
    height: 335px;
    background-image: url('../assets/banner.png');
    /*background-repeat: no-repeat; */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* configurar tela laranja e conteudo digitaos*/
.banner__card {
    background-color: var(--cor-secundaria-transparente);
    width: 600px;
    height: 160px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-principal);
    color: var(--cor-branca);   
}
 
.conteudo-principal {
    width: 1000px;
    background-color: var(--cor-branca);
    margin: auto;
    border-radius: 16px;
    margin-top: -63px;
    padding: 32px;
    box-sizing: border-box;
    
}

.conteudo-principal__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/* deixar imagem do lado , display flex para deixar imagem de um lado texto de outro, gap deixa um vão entre informação e imagem*/
.conteudo-principal__produto{
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin-bottom: 52px; /* separar as imagens*/
}

/* alterar tamanho da imagem, sobrear*/
.conteudo-principal__imagem {
    width: 400px;
    height: 377px;
    border-radius: 16px;
    box-shadow: 4px 4px 4px 4px var(--cor--cinza);   /* sombrear*/
   /* object-fit: contain;  imagem fica completa porem fica pequena*/  
    object-fit: cover; /* mecher no tamaho da imagem */
    
}

.conteudo-principal__titulo {
    font-family: var(--font-principal);
    font-size: 48px;
    color: var(--cor--secundaria);
    margin-bottom: 16px;
}

.conteudo-principal__subtitulo { /* alterar fonte do subtitulo ex cappcino caseiro*/
    font-family: var(--font-principal);
    color: var(--cor--principal);
    font-size: 32px;
}

.conteudo-principal__subtitulo-galeria { /* alterar fonte do subtitulo ex galeria*/
    font-family: var(--font-secundaria);
    color: var(--cor--preta);
    font-size: 20px;
}

.conteudo-principal__descricao {
    font-family: var(--font-secundaria); 
    font-size: 20px;
    color: var(--cor--cinza);
    margin-top: 20px;
    line-height: 1.5; /* alterar espaçamento do texto */
} 

.conteudo-principal__lista-titulo{
    font-family: var(--font-principal);
    color: var(--cor--principal);
    font-size: 20px;
    margin: 20px 0 16px 0;
    line-height: 1.5;
}

.lista-conteudo {
    font-family: var(--font-secundaria);
    line-height: 1.5; /* espaçamento das linhas*/
    list-style-type: disc; /* adicionar . antes da lista */
    list-style-position: inside;/* posicionar a lista disc*/
    margin-bottom: 24px;
    font-size: 20px;

}

.conteudo-principal-sub {
    
    font-family: var(--font-principal);
    font-size: 48px;
    color: var(--cor--principal);
    margin-bottom: 16px;

}

.botao {
    width: 196px;
    height: 54px;
    background-color: var(--cor--principal);
    font-family: var(--font-secundaria);
    color: var(--cor-branca);
    text-decoration: none;
    border-radius: 8px;
    font-size: 20px;
    display: flex;
    justify-content: center; /* deixar texto no centro*/
    align-items: center;  /* alinhar*/
    
}

.botao:hover {
    background-color: var(--cor--secundaria);  /*trocar cor do botão quando passo o mouse em cima idiota*/
}

.conteudo-secundario {
    font-family: var(--font-principal);
    font-size: 48px;
    color: var(--cor--secundaria);
    margin-bottom: 16px;
}

.conteudo-secundario__imagem {
    width: 83px;
    height: 83px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 4px solid var(--cor-branca); /* deixar borda branca nas fotos dos comentários */ 
    
 
}
.conteudo-secundario__descricao {
    font-family: var(--font-secundaria);
    font-size: 20px;
    color: var(--cor--cinza);
    text-align: center;
    line-height: 1.5;
    margin-bottom: 20px;
}

.card-avaliacao__comentario{
    background-color: var(--cor-cinza-card);
    border-radius: 16px;
    width: 301px;
    height: 328px;
    padding: 18px 25px 34px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-secundaria);
    box-sizing: border-box;
    
}

.cite {
    color: var(--cor--secundaria);
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 18px;
    font-family: var(--font-secundaria);
}

.conteudo-principal__comentarios {
    display: flex;
    gap: 16px; /* espaçamento entre um e outro */
    justify-content: space-between;
    margin: 32px 0 0 0;


}


.rodape {
height: 100px;
background-color: var(--cor--principal);
border-top: 3px solid var(--cor-branca);
margin-top: 60px
}

.rodape__conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 100%;  
    margin: auto;
}

.rodape__conteudo p {
font-family: var(--font-secundaria);
 font-size: 20px;
margin: 0;
color: white;
white-space: nowrap; /* impede quebra de linha */
}

/* .rodape__conteudo h2 {
    font-family: var(--font-principal);
    color: var(--cor-branca);
    font-size: 20px;
} */




/*.rodape__conteudo p {
    font-family: var(--font-principal);
    font-size: 48px;
    color: yellow;
} */



.galeria {
margin-top: 32px;
grid-template-columns: 1fr 1fr 1fr; /* redimencionar imagens do grid por igual utilização fração e adicionar colunas */
display: grid;
column-gap: 16px;
row-gap: 8px;




/*display: grid; as suas filhas teram que assumir como se comportaram dentro de onde o "galeria estiver sendo usado" */
}

.galeria__foto {
    height: 215px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 4px 4px 4px var(--cor--cinza);

}



